<h1>All of My Dogs</h1>

<% if can? :create, Dog %>
<%= link_to "New Dog", new_dog_path, class: 'btn btn-primary btn-mini' %>
<% end %>

<% @dogs.each do |dog| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to dog.name, dog %>
      </h4>
    </div>
  </div>
<% end %>
