<h1>New Dog</h1>

<div class="row">
  <div class="span4">
    <p>Guidelines for new dogs:</p>
    <ul>
      <li>Make sure to fill out all of the fields completely</li>
      <li>Weigh each dog twice</li>
      <li>Check vet papers to compare the data</li>
    </ul>
  </div>
  <div class="span8">
    <%= render partial: 'form', locals: { dog: @dog } %>
  </div>
</div>